@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Oswald);

.Jour{
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

.Container {
    display: flex;
    color:white;
    font-family: 'Roboto';
}

.Semaine {
    border-radius: 15px;
    background-color: rgba(35, 35, 35, 0.6);
    margin: 0;
    padding: 0.5vw;
    min-height: 415px;
}

.Semaine:hover{
    background-color: rgba(60, 65, 219, 0.6);
    padding: 0.5vw;
    margin: 0;
}

.Semaine h5 {
    color: white;
    font-family: 'Oswald';
    font-size: 1.5em;
    padding: 10px 0px 0px 10px;
    font-weight: bold;
}
