@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

:root {
    --Rose: #8419C9;
    --Violet: #3F086D;
}

input[type=text] {
    border-radius: 10px;
    font-family: 'Roboto';
    margin: 4px;
}

input[type=submit] {
    background-color: #3F086D;
    border-radius: 10px;
    margin: 4px;
    font-family: 'Roboto';
    box-shadow: 0 0 10px var(--Rose), 0 0 40px var(--Rose), 0 0 80px var(--Rose);
    color: white;
}