@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Oswald);

.widgetCountry{
    background-color: rgba(35, 35, 35, 0.6);
    border-radius: 15px;
    color:white;
    align-items: center;
    justify-content: center;
    min-height: 215px;
    padding: 0 1vw 0 1vw;
    text-align: center;
}

.widgetCountry h5{
  font-family: 'Oswald';
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.Titre {
    font-family: 'Roboto';
    font-size: 0.9em;
}

.colone {
  margin: 0 4px 0 4px;
}

.widgetCountry:hover{
    background-color: rgba(60, 65, 219, 0.6);
}

.image {
    margin: 8px 2px 8px 2px;
    object-fit: cover;
    width: 5em;
    height: 5em;
    border-radius: 15px;
}
