@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Oswald);

.widgetBourse{
    background-color: rgba(35, 35, 35, 0.6);
    border-radius: 15px;
    color:white;
    width: 275px;
    align-items: center;
    justify-content: center;
}

.widgetBourse:hover{
    background-color: rgba(60, 65, 219, 0.6);
}

.widgetBourse h5 {
    font-family: 'Oswald';
    font-size: 1.5em;
    padding: 10px 0px 0px 10px;
}

.Titre a{
    margin: 20px;
    font-family: 'Roboto';
}

.Lignes {
    font-family: 'Roboto';
        font-size: 0.9em;
}
