.App {
    text-align: center;
}

@media screen and (max-width: 1330px) {
  #mn_menu {
    display: none;
  }
}

@media screen and (min-width: 1330px) {
  #mn_menu {
    margin: 0;
    padding: 0;
  }
}

