:root{
	--rose:#FE2055;
	--bleu:#0F06FF;
	--orange:#E53824;
	margin:0;
	padding:0;
}
.Page {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Widget {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.Title {
    color: white;
    font-family: 'Roboto';
    font-size: 3em;
    font-weight: bolder;
}

.butn {
    padding: 1em;
    border: 2px solid var(--orange);
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

.butn:hover{
	text-align: center;
	color: var(--noir);
	transition-delay: 0.1s;
	background: var(--orange);
	box-shadow: 0 0 10px var(--orange), 0 0 40px var(--orange), 0 0 80px var(--orange);
}

.ResponsiveContainer {
    margin: 0;
    padding: 0;
}



