@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Oswald);

.Page2 {
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

@media screen and (min-width: 1330px) {
  #mn_menu2 {
    display: none;
  }
}

@media screen and (max-width: 1330px) {
  #mn_menu2 {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 700px) {
  .Page2 {
    height: 100vh;
  }
}

input[type=text] {
    border-radius: 15px;
    text-align: center;
    font-family: 'Roboto';
}

input[type=submit]{
    border-radius: 15px;
    text-align: center;
    background-color: #E53824;
    color : white;
    box-shadow: none;
    border : 2px solid black;
    font-family: 'Roboto';
    margin: 8px;
}

select {
    border-radius: 15px;
    text-align: center;
    font-family: 'Roboto';
}

.Titre {
    padding-top: 30px;
    text-align: center;
}

h6 {
    color: white;
    font-family: 'Oswald';
}

.imageSet {
    margin-top: 15px;
    width: 78px;
    height: 78px;
}

.WeatherWidget, .CountryWidget, .Covid19Widget, .PieWidget, .NewsWidget {
    background-color: rgba(35, 35, 35, 0.6);
    border-radius: 15px;
}

.ResponsiveContainer {
    margin: 0;
    padding: 0;
}

.info{
  color: white;
  font-family: 'Oswald';
  padding-right: 1em;
}
