@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=News+Cycle);
@import url(http://fonts.googleapis.com/css?family=Oswald);

.widgetNews{
    background-color: rgba(35, 35, 35, 0.6);
    border-radius: 15px;
    max-width: 400px;
    height: 415px;
    padding: 0;
    margin: 0;
}

.widgetNews:hover{
    background-color: rgba(60, 65, 219, 0.6);
    padding: 0;
    margin: 0;
}

.widgetNews h5{
  padding: 10px 0px 0px 10px;
  font-family: 'Oswald';
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  color: white;
}

.article {
    padding: 10px;
    max-width: 400px;
    font-family: Roboto;
    font-size: 0.9em;
    text-align: left;
    display: flex;
}

.image {
    margin: 15px 5px 15px 5px;
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

.titre {
    color: #ffffff;
    text-decoration: none;
    text-align: left;
}

.titre:hover {
    color: bla;
    text-decoration: none;
    transition: 0.2;
}

.source {
    font-family: 'News Cycle';
    color: #94a0ac;
    font-style: bold;
    font-size: 1em;
    text-align: left;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
